<mat-tab-group *ngIf="openedFilesManagement"
[dynamicHeight]="true"
[selectedIndex]="selectedIndex"
(selectedIndexChange)="tabSelected($event)"
>
  <mat-tab
  *ngFor="let file of openedFilesManagement?.files || []"
  >
    <ng-template mat-tab-label >
      <div style="width: 100% !important; position: relative; display: flex; flex-direction: row">
          <span>{{ file.name }} <i *ngIf="! file.saved" class="fa fa-circle" style="color:orange"></i></span>
          <mat-icon class="gwe-tab-icon" (click)="close(file)" ><i class="fa fa-times fa-lg"></i></mat-icon>
      </div>
    </ng-template>
  </mat-tab>
</mat-tab-group>