<div class="gwe-toolbar" *ngIf="file">
    <button mat-button color="primary" (click)="save()" [disabled]="savingFile || file.project == null" >
      Save 
      <i [style.color]="'grey'" class="fa fa-save fa-lg"></i>
    </button>
    <button mat-button color="'primary'" (click)="compile()" [disabled]="file.project == null" >
      Compile 
      <i [style.color]="'green'" class="fa fa-microchip fa-lg"></i>
    </button>
    <div>
        <i *ngIf="compilationSucceed" [style.color]="'green'" class="fa fa-check"></i>
        <i *ngIf="!compilationSucceed" [style.color]="'red'" class="fa fa-times"></i>
    </div>
</div>
<!-- EDITOR with ngx-ace-wrapper -->
<ace *ngIf="file && !file.isWelcome" style="display: block; flex-grow: 1; min-height:200px; height: 60vh !important"
  [config]="config"
  [mode]="'text'"
  [theme]="'github'"
  [(value)]="file.sourceCode"
  (valueChange)="onChange($event)"
  [disabled]="!file.editable"
></ace>

<!-- EDITOR with ng2-ace-editor -->
<!-- <div style="position:absolute; width: 100%; max-height: 60vh !important; overflow: auto">
  <ace-editor *ngIf="file && file.project != null" #editor
  style="min-height:60vh; "
  [(text)]="file.sourceCode"
  [mode]="'text'"
  [theme]="'github'"
  [options]="options"
  [readOnly]="false"
  ></ace-editor>
  <div  *ngIf="file && !file.project" style="flex-grow: 1; ">
    {{ file.sourceCode }}
  </div>
</div> -->

<!-- No file selected OR Current file is welcome -->
<div *ngIf="!file || (file && file.isWelcome)"
  style="text-align: justify; font-family: Monaco, Menlo, Consolas, 'Droid Sans Mono', 'Inconsolata', 'Courier New', monospace">
  <p>Galgas Web Editor ({{ aboutGWE.getVersion() }}) is an initiative from {{ aboutGWE.getAuthor() }}.</p>
  <p>The goal of this project is to make Galgas more accessible because of it's really easy to use
    in comparison with similar tools (flex, bison, ...) that allow language creation.
  </p>
  <p>
    To contribute to this project, you can visit this github page: 
    <a target="blank" href="https://github.com/blixit/galgas-web-editor-angular">https://github.com/blixit/galgas-web-editor-angular</a>
  </p>
</div>