<h1>Projects</h1>

<button mat-fab [routerLink]="['/new']" [color]="'primary'" ><i class="fa fa-plus"></i></button>

<div>
  <mat-card *ngFor="let project of projects" class="project-card">
    <mat-card-header>
      <!--<div mat-card-avatar class="example-header-image"></div>-->
      <mat-card-title>{{ project.name }}</mat-card-title>
      <mat-card-subtitle>{{ project.version.toString() }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{ project.description }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button [routerLink]="['/editor/' + project.id]">Editor</button>
      <button mat-button [routerLink]="['/projects/edit/' + project.id]">Edit project</button>
      <button mat-raised-button color="danger" (click)="remove(project)">Delete project</button>
    </mat-card-actions>
  </mat-card>
</div>
